<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>University - Lessons</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css} "/>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Lessons</h1>

<form action="/lessons/" id="searchForm" class="form-inline">
  <div class="form-group">
    <label class="mr-2">Choose page size:</label>
    <select name="size" th:value="${pageSize}" onchange="changePageSize()" class="custom-select">
      <option th:each="s : ${ {5, 10, 15, 20} }" th:value="${s}" th:text="${s}" th:selected="${s == pageSize}"></option>
    </select>
  </div>
</form>

<button type="button" class="btn btn-primary" th:href ="@{/lessons/new}">Add Lesson</button>

<div th:if="${lessons.size() > 0}">
  <table class="table table-hover table-responsive-xl">
    <thead class="thead-light">
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Teacher</th>
      <th scope="col">Group</th>
      <th scope="col">Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lesson : ${lessons}">
      <td>[[${lesson.getCourseName()}]]</td>
      <td>[[${lesson.getTeacherProfile().getFirstName()}]] [[${lesson.getTeacherProfile().getLastName()}]]</td>
      <td>[[${lesson.getGroupName()}]]</td>
      <td>[[${lesson.getDate()}]]</td>
      <td>[[${lesson.getStartTime()}]]</td>
      <td>[[${lesson.getEndTime()}]]</td>
      <td>
        <a th:href="@{'/lessons/' + ${lesson.getLessonId()}}" title="Edit this lesson">
          <button type="button" class="btn btn-primary">
            <i class="fas fa-edit"></i> Edit
          </button>
        </a>
        <a th:href="@{'/lessons/delete/' + ${lesson.getLessonId()}}" id="btnDelete"
           title="Delete this lesson">
          <button type="button" class="btn btn-danger">
            <i class="fas fa-trash"></i> Delete
          </button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div th:unless="${lessons.size() > 0}">
  <span>No lessons found!</span>
</div>

<nav aria-label="Pagination" th:if="${totalPages > 0}">
  <ul class="pagination justify-content-center">
    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
      <a th:replace="~{fragments/paging :: paging('/lessons/' ,1, '<<', 'First Page')}"></a>
    </li>
    <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
      <a th:replace="~{fragments/paging :: paging('/lessons/' ,${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
    </li>
    <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
      <a class="page-link" href="#">...</a>
    </li>
    <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
        th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
      <a th:replace="~{fragments/paging :: paging('/lessons/' ,${page}, ${page}, 'Page ' + ${page})}"></a>
    </li>
    <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
      <a class="page-link" href="#">...</a>
    </li>
    <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
      <a th:replace="~{fragments/paging :: paging('/lessons/' ,${currentPage + 1},'Next', 'Next Page')}"></a>
    </li>
    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
      <a th:replace="~{fragments/paging :: paging('/lessons/' ,${totalPages}, '>>', 'Last Page')}"></a>
    </li>
  </ul>
</nav>

<script type="text/javascript">
  $(document).ready(function () {

    $("#btnClear").on("click", function (e) {
      e.preventDefault();
      $("#keyword").text("");
      window.location = "[[@{/lessons/}]]";
    });
  });

  function changePageSize() {
    $("#searchForm").submit();
  }
</script>
<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.min.js}"></script>
</body>

<footer>
  <div th:replace="~{fragments/footer :: footer}"></div>
</footer>

</html>